<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.obligatorio.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="Principal"
            android:label="@string/title_activity_principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ActivityDireccionActual"
            android:label="@string/dir"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="ActivityCrearLista"
            android:label="Productos"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="ActivityListaActual"
            android:label="Lista Actual"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="ActivityEstablecimiento"
            android:label="Establecimientos disponibles"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="ActivityHistorial"
            android:label="Historial de compras"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="ActivityResultado"
            android:label="Resultado"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="ActivityMap"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>